html, body, #root {
  height: 100%;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}

.App {
  height: 100%;
  margin: 0px;
}

.btn {
  background-color: #FFA252;
  height: 30px;
  /*width: 85px;*/
  font-size: medium;
  font-weight: 600;
  color: white;
  border: none;
}