.DashboardPoll {
  padding: 5px;
  margin: 10px;
  height: 285px;
  background-color: white;
  border-radius: 10px;
}
.poll-card-img {
  display: inline-block;
  height: 285px;
  width: 30%;
}
.author-avatar {
  display: inline;
  height: 285px;
  width: 285px;
  border-radius: 10px;
}

.poll-card-body {
  display: inline-block;
  vertical-align: top;
  width: 70%;
}

.author-name, .wyr-body-text {
  display: block;
}
.author-name {
  margin-top: 15px;
  color: grey;
}
.wyr-body-text {
  margin: 40px 0 30px 0;
  font-size: x-large;
}
.wyr-body-options {
  display: inline;
  font-size: large;
  font-style: italic;
}

.dashboard-poll-btn {
  text-decoration: unset;
  margin-top: 95px;
  margin-left: 685px;
  width: 90px;
}
