.LeaderboardUser {
  height: 100%;
  border: 1px solid #D5D2D2;
  margin: 15px;
  height: 290px;
  border-radius: 5px;
}

#HiScore {
  /*background-color: red;*/
  width: 110%;
  margin-left: -10%;
  border: 65px solid #F7B57D;
}
#HiScoreText {
  margin-right: 250px;
  /*background-color: red;*/
}
#HiScoreTotal {
  /*margin-left: 80px;*/
  margin-right: -250px;
}
.user-card-img {
  display: inline-block;
}
.user-avatar {
  display: inline;
  height: 280px;
  width: 280px;
  border-radius: 5px;
  border: 5px solid white;
}
.user-poll-totals {
  /*padding-top: 100px;*/
  /*display: inline-block;*/
  /*margin-left: -100px;*/
}
.user-card-body {
  display: inline;
  /*height: 290px;*/
  /*padding-left: 3px;*/
  margin-right: 180px;
  /*margin-left: 30px;*/
  float: right;
  height: 100%;
}

.user-name {
  display: inline-block;
  /*margin-right: 500px;*/
  margin-top: 15px;
  color: grey;
  font-size: x-large;
  /*padding-right: 100px;*/
  /*width: 75%;*/
  width: 475px;
  /*background-color: red;*/
  border-bottom: 1px solid grey;
  /*margin-left: -100px;*/
}
.user-stats {
  margin: 70px 0 20px 0;
  font-size: x-large;
  width: 500px;
}
.row-title {
  /*color: red;*/
  width: 440px;
  /*padding-bottom: 10px;*/
}
.stats-row {
  /*padding: 45px;*/
  /*height: 15px;*/
}
.user-total-score {
  float: right;
  color: white;
  font-weight: 600;
  /*font-size: x-large;*/
  background-color: #FFA252;
  width: 130px;
  display: inline-block;
  margin-top: -203px;
  height: 290px;
  text-align: center;
  margin-right: -180px;
}
.score-text, .score-number {
  display: block;
}
.score-text {
  font-size: large;
  font-weight: 300;
  margin-top: 100px;
}
.score-number {
  font-size: -webkit-xxx-large;
  margin-top: 20px;
}