.Nav {
  background-color: #F7B57D;
  height: 65px;
  color: white;
}

.site-title {
  display: inline-block;
  font-size: xx-large;
  font-weight: 600;
  margin-left: 45px;
  margin-top: 13px;
  text-shadow: 2px 2px #ff0000;
  text-decoration: none;
  color: white;
}

.site-links {
  float: right;
  display: inline-block;
}
.site-links ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: 50px;
  padding-top: 5px;
  font-size: large;
  color: white;
}
.active {
  /*background-color: rgba(247,181,125,.2);*/
  /*color: !important#DE6B0A;*/
  /*border-bottom: 1px solid black;*/
}

.logout-link {
  padding-left: 120px;
}