.Nav {
  background-color: #F7B57D;
  height: 70px;
  color: white;
}

.site-title {
  display: inline-block;
  font-size: xx-large;
  font-weight: 600;
  margin-left: 45px;
  margin-top: 13px;
  text-shadow: 2px 2px #ff0000;
  text-decoration: none;
  color: white;
}

.site-links {
  float: right;
  display: inline-block;
}
.site-links ul li, .logout-link {
  text-decoration: none;
  display: inline-block;
  margin-right: 50px;
  /*padding-top: 5px;*/
  font-size: large;
  color: white;
}
.active li {
  border-bottom: 6px solid white;
}

.logout-link {

}
.logout-link button {
  border: 1px solid white;
  /*background-color: rgba(247,181,125,.2);*/
  background-color: #FFA252;
  color: white;
  font-size: medium;
  font-weight: 700;
  padding: 6px;
}