.NewPoll {
  width: 35%;
  margin: 3% auto;
  padding: 10px;
}

.new-poll-label {
  font-size: x-large;
}
.new-poll-body {
  border: 1px solid #D5D2D2;
  padding: 50px;
  background-color: white;
  border-radius: 5px;
  /*box-shadow: 4px 4px #D5D2D2;*/
}
.wyr-body-intro {
  /*margin: 0 auto;*/
  display: block;
  font-size: x-large;
  margin-bottom: 20px;
}
.new-poll-form {
  margin: 30px auto;
  text-align: center;
}
.form-input {
  display: block;
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 40px;
  font-size: large;
  font-weight: 300;
}
.new-poll-btn {
  width: 105px;
  float: right;
  /*margin-bottom: 50px;*/
}