.PollAnswered {
  border: 1px solid #D5D2D2;
  padding: 30px 1px 30px 0;
  border-radius: 5px;
}
.poll-detail-results {
  /*background-color: red;*/
  margin-right: -1px;
  padding: 40px 0;
  text-align: center;
  /*display: inline-block;*/
}
.back-btn {
  float: right;
  margin-right: 15px;
}
.optiona-answered, .optionb-answered {
  display: inline;
  width: 40%;
  padding: 50px 0;
  font-weight: 600;
  height: 100px;
  /*height: 100px;*/
}
.optiona-answered-text, .optionb-answered-text, .optiona-answered-percent, .optionb-answered-percent, .optiona-answered-count, .optionb-answered-count {
  display: block;
}
.optiona-answered-text, .optionb-answered-text {
  padding-bottom: 30px;
}
.optiona-answered-percent, .optionb-answered-percent {
  font-size: xx-large;
}
.optiona-answered {
  background-color: #F7B57D;
  float: left;
  color: white;
}
.optiona-answered-text {
  padding-bottom: 30px;
}
.optiona-answered-count, .optionb-answered-count {
  margin-top: 20px;
  font-size: x-small;
}
.optionb-answered {
  background-color: #D5D2D2;
  float: right;
  color: #717171;
}
.optionb-answered-text, .optionb-answered-count {
}
.optionb-answered-text {

}
.optionb-answered-count {

}
.authuser-choice {
  /*display: inline-block;*/
  float: right;
  margin-top: 10px;
  font-size: small;
  /*padding-top: 20px;*/
  margin-right: 7px;
}
.or-text {
  padding-top: 80px;
  display: inline-block;
  /*margin-top: 200px;*/
}
.total-results {
  /*float: right;*/
  /*float: right;*/
  /*padding: 100px;*/
  /*display: block;*/
  margin-top: 80px;
  margin-left: 85%;
  color: grey;
  /*margin: 50px;*/
  /*margin: 5px;*/

}